<!DOCTYPE html>
<html>
<head>
    <title>任务表</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <i-col span="3">
                <i-input v-model="q.name" @on-enter="query" placeholder="任务名称"/>
            </i-col>
            <i-col span="3">
                <i-select v-model="q.taskGroupId" filterable placeholder="选择任务组">
                    <i-option v-for="group in taskGroupList" :value="group.id" :key="group.id">{{group.name}}
                    </i-option>
                </i-select>
            </i-col>
            <i-col span="2">
                <i-select v-model="q.status" filterable placeholder="状态">
                    <i-option v-for="s in statusList" :value="s.id" :key="s.id">{{s.name}}
                    </i-option>
                </i-select>
            </i-col>
            <i-col span="2">
                <i-select v-model="q.type" filterable placeholder="类型">
                    <i-option v-for="s in typeList" :value="s.id" :key="s.id">{{s.name}}
                    </i-option>
                </i-select>
            </i-col>
            <i-col span="3">
                <i-input v-model="q.regionName" @on-enter="query" placeholder="区域"/>
            </i-col>
            <i-col span="3">
                <i-input v-model="q.enterpriseName" @on-enter="query" placeholder="所属企业"/>
            </i-col>
            <i-button @click="query">查询</i-button>
			#if($shiro.hasPermission("task:save"))
            <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
			#end
			#if($shiro.hasPermission("task:update"))
            <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
			#end
			#if($shiro.hasPermission("task:delete"))
            <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
			#end
            <i-button id="retunListBtn" type="error" @click="retunList"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;返回</i-button>
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="task" :rules="ruleValidate" :label-width="120">
            <Form-item label="任务类型" prop="type">
                <Radio-group v-model="task.type" @on-change="changeType">
                    <Radio label="0">单次任务</Radio>
                    <Radio label="1">循环任务</Radio>
                </Radio-group>
            </Form-item>
            <Form-item label="任务名称" prop="name">
                <i-input v-model="task.name" placeholder="任务名称"/>
            </Form-item>
            <Form-item label="任务组" prop="taskGroupId">
                <i-select v-model="task.taskGroupId" filterable placeholder="请选择任务组">
                    <i-option v-for="group in taskGroupList" :value="group.id" :key="group.id">{{group.name}}
                    </i-option>
                </i-select>
            </Form-item>
            <Form-item label="区域">
                <i-input v-model="task.regionName" @on-click="layerTree" icon="eye" readonly="readonly"
                         placeholder="选择区域"/>
            </Form-item>
            <Form-item label="所属企业" prop="enterpriseId">
                <i-select v-model="task.enterpriseId"  placeholder="请选择所属企业" @on-change="listenEnterpriseChange">
                    <i-option v-for="enterprise in enterpriseList" :value="enterprise.id" :key="enterprise.id">{{enterprise.enterpriseName}}
                    </i-option>
                </i-select>
            </Form-item>
            <Form-item label="人员" prop="userNames">
                <i-select v-model="userArr" multiple placeholder="请选择人员">
                    <i-option v-for="user in userList" :value="user.id" :key="user.id">{{user.name}}
                    </i-option>
                </i-select>
            </Form-item>
            <Form-item label="循环周期 " prop="scheduleCycle" v-show="task.type==1">
                <i-select v-model="task.scheduleCycle" filterable @on-change="changeScheduleCycle">
                    <i-option v-for="cycle in scheduleCycleList" :value="cycle.id" :key="cycle.id">{{cycle.name}}
                    </i-option>
                </i-select>
            </Form-item>
            <Form-item label="执行时限" prop="schedule" v-show="task.type==1">
                <!--<i-input v-model="task.schedule" placeholder="执行时限"/>-->
                <input-number :max="scheduleMax" :min="scheduleMin" v-model="task.schedule" placeholder="执行时限"></input-number>
            </Form-item>
            <Form-item label="开始时间" prop="startTime">
                <Date-picker type="date" placeholder="选择开始时间" v-model="task.startTime"></Date-picker>
            </Form-item>
            <Form-item label="截止时间" prop="endTime" v-show="task.type==0">
                <Date-picker type="date" placeholder="选择截止时间" v-model="task.endTime"></Date-picker>
            </Form-item>
            <Form-item label="备注" prop="remark">
                <i-input v-model="task.remark" placeholder="备注"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>

    <!-- 选择区域 -->
    <div id="regionLayer" style="display: none;padding:10px;">
        <ul id="editRegionTree" class="ztree"></ul>
    </div>

</div>

<script src="${rc.contextPath}/js/task/task.js?_${date.systemTime}"></script>
</body>
</html>