<!DOCTYPE html>
<html>
<head>
    <title>法规管理表</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <i-col span="4">
                <i-input v-model="q.name" @on-enter="query" placeholder="名称"/>
            </i-col>
            <i-button @click="query">查询</i-button>
			#if($shiro.hasPermission("regulation:save"))
            <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
			#end
			#if($shiro.hasPermission("regulation:update"))
            <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
			#end
			#if($shiro.hasPermission("regulation:delete"))
            <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
			#end
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="regulation" :rules="ruleValidate" :label-width="80">
            <Form-item label="知识名称" prop="knowledgeName">
                <i-input v-model="regulation.knowledgeName" placeholder="知识名称"/>
            </Form-item>
            <Form-item label="描述" prop="description">
                <i-input v-model="regulation.description" placeholder="描述"/>
            </Form-item>
            <Form-item label="预览图片url" prop="url">
                <i-input v-model="regulation.url" placeholder="预览图片url"/>
            </Form-item>
            <Form-item label="知识内容方式(0：自主编辑；1：外部链接)" prop="type">
                <i-input v-model="regulation.type" placeholder="知识内容方式(0：自主编辑；1：外部链接)"/>
            </Form-item>
            <Form-item label="自主编辑知识内容" prop="content">
                <i-input v-model="regulation.content" placeholder="自主编辑知识内容"/>
            </Form-item>
            <Form-item label="知识外部链接地址" prop="link">
                <i-input v-model="regulation.link" placeholder="知识外部链接地址"/>
            </Form-item>
            <Form-item label="关联考试" prop="relation">
                <i-input v-model="regulation.relation" placeholder="关联考试"/>
            </Form-item>
            <Form-item label="创建时间" prop="createTime">
                <i-input v-model="regulation.createTime" placeholder="创建时间"/>
            </Form-item>
            <Form-item label="创建人" prop="creator">
                <i-input v-model="regulation.creator" placeholder="创建人"/>
            </Form-item>
            <Form-item label="更改时间" prop="updateTime">
                <i-input v-model="regulation.updateTime" placeholder="更改时间"/>
            </Form-item>
            <Form-item label="修改人" prop="updator">
                <i-input v-model="regulation.updator" placeholder="修改人"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script src="${rc.contextPath}/js/regulation/regulation.js?_${date.systemTime}"></script>
</body>
</html>