<!DOCTYPE html>
<html>
<head>
    <title>巡检工单处理流程</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
    <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;返回列表</i-button>
	<div v-show="showList">
        <Row :gutter="16">
            <i-col span="4">
                <i-input v-model="q.name" @on-enter="query" placeholder="名称"/>
            </i-col>
            <i-button @click="query">查询</i-button>
			#if($shiro.hasPermission("inspectorderflow:save"))
            <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
			#end
			#if($shiro.hasPermission("inspectorderflow:update"))
            <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
			#end
			#if($shiro.hasPermission("inspectorderflow:delete"))
            <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
			#end
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="inspectOrderFlow" :rules="ruleValidate" :label-width="80">
            <Form-item label="工单id" prop="orderId">
                <i-input v-model="inspectOrderFlow.orderId" placeholder="工单id"/>
            </Form-item>
            <Form-item label="处理类型  0 处理   1 报告上级  2 复查" prop="type">
                <i-input v-model="inspectOrderFlow.type" placeholder="处理类型  0 处理   1 报告上级  2 复查"/>
            </Form-item>
            <Form-item label="操作人id" prop="userId">
                <i-input v-model="inspectOrderFlow.userId" placeholder="操作人id"/>
            </Form-item>
            <Form-item label="操作人" prop="userName">
                <i-input v-model="inspectOrderFlow.userName" placeholder="操作人"/>
            </Form-item>
            <Form-item label="时间" prop="createTime">
                <i-input v-model="inspectOrderFlow.createTime" placeholder="时间"/>
            </Form-item>
            <Form-item label="描述" prop="descr">
                <i-input v-model="inspectOrderFlow.descr" placeholder="描述"/>
            </Form-item>
            <Form-item label="数据状态 0 正常  1 删除" prop="dataStatus">
                <i-input v-model="inspectOrderFlow.dataStatus" placeholder="数据状态 0 正常  1 删除"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script src="${rc.contextPath}/js/inspect/inspectorderflow.js?_${date.systemTime}"></script>
</body>
</html>